* {
  box-sizing:border-box;

}

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: 'Roboto', sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
  background-image: url("https://wallpapercave.com/uwp/uwp1985674.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Star buttons */
.buttonStar1 {
  position: absolute;
  top:100px;
  left: 180px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
}

.buttonStar2 {
  position: absolute;
  top: 550px;
  left: 100px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
}

.buttonStar3 {
  position: absolute;
  top: 250px;
  right: 230px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
}

@keyframes fadeInFromTop {
  from{
    opacity: 0;
    transform: translateY(-20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floating {
  0%{
    transform: translate(0%, 0%) rotate(360deg);
  }
  25%{
    transform: translate(5%, 15%) rotate(360deg);
  }
  50%{
    transform: translate(10%, 5%) rotate(360deg);
  }
  75%{
    transform: translate(0%, 15%) rotate(360deg);
  }
  100%{
    transform: translate(0%, 0%) rotate(360deg);
  }
}



article {
  width:30vw;
  max-width: 30em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  background-image: linear-gradient(to right, #5d54a4, #6857ac, #745bb3, #805eba, #8c61c1, #9765c5, #a269c8, #ad6dcc, #b874cf, #c37bd1, #cd82d4, #d789d7);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;

}


h1 {
  margin:2rem 0 1rem;
  font-size: 2.5rem;
  color: white;
}

.profile-picture img {
  width: 10em;
  height: 10em;
  border-radius: 50%
}

.leeftijd {
  margin: 10px 0 0 0;
  font-size: 1.1rem;
  color: white;
  align-items: center;
}

.woonplaats{
  margin: 10px 0 0 0;
  font-size: 1.1rem;
  color: white;
  align-items: center;
}

.werk{
  margin: 10px 0 0 0;
  font-size: 1.1rem;
  color: white;
  align-items: center;
}

.studie {
  margin: 10px 0 25px 0;
  font-size: 1.1rem;
  color: white;
  align-items: center;
}



p {
  margin:0
}

article > p {
  padding:3rem 2rem;
  margin-top: 0;
  color: white;
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}
